* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar{
  position: relative;
  top: 10vh;
  left: 20%;
  width: 80%;
  height: max-content;
  float: left;
  background-color: beige;
  z-index: -1;
}

.mainApp {
  position: relative;
  top: 10vh;
  left: 20%;
  width: 80%;
  height: max-content;
  min-height: 100vh;
  float: left;
  padding: 20px;
  padding-bottom: 50px;
  background-color: beige;
}


ul {
  list-style: none;
}
/*----------modal----------*/
.Modal{
  z-index: 999;
  position: relative;
}
.modal-content {
  /* モーダルのコンテンツの幅と高さを調整 */
  width: 400px;
  height: 400px;
  /* その他のスタイルをここに追加 */
}
.form-group {
  margin-bottom: 15px;
}
/*---------Sidebar---------*/
.SidebarApp {
  position: fixed;
  top: 10vh;
  width: 20%;
  height: 90vh;
  float: left;
}

.Sidebar {
  height: 100%;
  width: auto;
  background: #2d445d;
  position: relative;
}

.titlebox {
  height: 5%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .logout {
  width: 100%;
  height: 80px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.SidebarList .setting {
  width: 100%;
  height: 80px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 80px;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #3b627a;
}

.SidebarList .logout:hover,
.SidebarList .setting:hover {
  cursor: pointer;
  background-color: #3b627a;
}

.SidebarList #active {
  background-color: #3b627a;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

/*----setting----*/
.setting #icon,
.logout #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.setting #title,
.logout #title {
  flex: 70%;
}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: 100px;
}

.SidebarIcon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

/*-------page--------*/
.mainApp .row {
  display: flex;
}


/*----createGroup----*/
.manageGroup {
  border: 1px solid #000;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 15px -10px;
  background-color: #fff;
}

.manageGroup .title {
  font-size: large;
  text-align: center;
}

/*----firstGroupCreate----*/
.firstGroupCreateApp{
  z-index: 1;
    position: relative;
    width: 100%;
    height: max-content;
    min-height: 100vh;
    float: left;
    padding: 20px;
    padding-bottom: 50px;
    background-color: beige;
}

.firstGroupCreateContentBox{
  border: 1px solid #000;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 30vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 20px;
    box-shadow: 10px 10px 15px -10px;
    background-color: #fff;
}

.firstGroupCreateContentBox .title{
  font-size: large;
  text-align: center;
}









